* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

button:hover{
    cursor: pointer;
}

button {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px;
}

.color-white {
    color: white;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 32px;
}

h6 {
    font-size: 16px;
    opacity: 0.85;
}

.header-menu{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
    z-index:0;
    position: relative;
}

ul {
    background-color: #e15241;
    display: flex;
    flex-direction: row;
    color: white;
}

header .header-menu nav ul li a {
    margin: 12px;
    display: block;
    font-size: 20px;
    height: 24px;
}

header .header-menu nav ul li:hover {
    background-color: white;
    color: black;
}

section.section-two,
section.section-three{
    display: flex;
    flex-direction: row;
    padding: 10vh 20vw;
}

section.section-four{
    padding: 10vh 20vw;
}

section.section-two .left,
section.section-three .right {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

main .section-one {
    background-color: #e15241;
}

main .section-three {
    background-color: #f1f1f1;
}

main .section-four {
    color: white;
    background-color: #666666;
}

footer .icons {
    display: flex;
    justify-content: center;
    gap: 12px;
}

img {
    margin: 32px auto;
    width: 16px;
    color: red;
    opacity: 0.65;
}

footer .footer-text {
    display: flex;
    justify-content: center;
    gap: 12px;
}